$light_pink_color: #efd6ac;
$dark_purple_color: #432534;
$emerald_color: #1dbf72;
$dark_green_color: #183a37;
$light_orange_color: #c44900;
$dark_blue_color: #1d153a;
$almost_black_color: #04151f;
$light_grey_color: #a39fbdb4;

@media (min-width: 1535px) {
  * {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }

  .background {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(
        rgba(67, 37, 52, 0.503),
        rgba(4, 21, 31, 0.595),
        rgba(67, 37, 52, 0.503)
      ),
      url(images/Background.png);
    background-position: center;
    background-size: cover;
    position: relative;
  }

  .sideBar {
    width: 110px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: rgba(29, 191, 114, 0.5);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    //justify-content: space-between;
    flex-direction: column;
    transition: width 0.5s;

    &__image--mod {
      width: 100px;
      border-radius: 10%;
      margin: auto;
      overflow: hidden;
    }

    &__list,
    &__special {
      list-style: none;
      padding: 0 15px;

      li {
        margin: 30px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        i {
          width: 30px;
          margin-right: 10px;
          color: $almost_black_color;

          a {
            font-size: 14px;
            color: white;
            text-decoration: none;
            white-space: nowrap;
            display: none;
            margin-left: 10px;
          }
        }
      }
    }

    &:hover {
      width: 160px;

      ul li {
        justify-content: flex-start;

        i {
          margin-right: 70px;

          a {
            display: inline;
          }
        }
      }
    }
  }

  .wrapper {
    margin: 20px 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__header {
      display: flex;
      padding: 10px;
      justify-self: flex-start;
      justify-content: space-around;
      flex-direction: row;

      &--mod1 {
        button {
          padding: 10px 20px;
          background-color: #dbdbdb;
          color: $almost_black_color;
          cursor: pointer;
          width: 150px;
          border-radius: 10px;
          border: 0.5px solid #eeeeee;
          margin: 2px;

          &:hover {
            background-color: rgba(29, 191, 114, 0.7);
            color: #f44336;
            border-color: rgba(29, 191, 114, 0.7);
          }

          a {
            text-decoration: none;
            color: black;

            &:hover {
              background-color: rgba(29, 191, 114, 0.7);
              color: #f44336;
              border-color: rgba(29, 191, 114, 0.7);
            }
          }
        }

        input[type="text"] {
          padding: 10px 20px;
          width: 500px;
          border: 1px solid $dark_green_color;
          border-radius: 15px;
          background-color: #eeeeee;
          font-size: 15px;
          color: $almost_black_color;
          transition: border-color 0.3s ease;
          margin: 2px;

          &:hover {
            border-color: $dark_blue_color;
          }

          &:focus {
            border-color: $dark_green_color;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            outline: none; /* sterge outline ul pus by default */
          }
        }
      }

      &--mod2 {
        .button {
          padding: 10px 10px;
          background-color: #eeeeee;
          color: $almost_black_color;
          cursor: pointer;
          width: 130px;
          border-radius: 10px;
          border: 0.5px solid #ddd;
          margin: 2px;

          &:hover {
            background-color: rgba(29, 191, 114, 0.7);
            color: #f44336;
            border-color: rgba(29, 191, 114, 0.7);
          }

          a {
            text-decoration: none;
            color: black;

            p {
              font-size: x-small;
            }

            &:hover {
              background-color: rgba(29, 191, 114, 0.7);
              color: #f44336;
              border-color: rgba(29, 191, 114, 0.7);
            }
          }
        }
      }
    }

    &__containers {
      padding: 20px;
      margin-left: 50px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: #1b635d;
      border-radius: 10px;
    }

    &__footer {
      width: 100%;
      text-align: center;
      padding: 10px 0px;
      align-self: center;
      justify-self: flex-end;

      ul li {
        list-style: none; /*fara bullets*/
        display: inline-block; /*afiseaza textul orizontal*/
        padding: 8px 12px; /*spatiu*/
        position: relative;
        margin-right: 20px;

        a {
          /*culorile link-urilor*/
          color: #1b635d;
          font-weight: 500;
          text-decoration: none; /*sa nu apara cu linia aia de la linkuri*/
          font-size: 15px;
          font-family: "Poppins", sans-serif; /*vezi google fonts*/
        }

        &::after {
          /*liniuta de sub linkuri*/
          content: "";
          width: 0%; /*face ca liniuta sa dispara, cu 100% apare*/
          height: 2px;
          background: #f44336;
          display: block;
          margin: auto;
          transition: 0.5s;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 1281px) and (max-width: 1534px) {
  * {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }

  .background {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(
        rgba(67, 37, 52, 0.503),
        rgba(4, 21, 31, 0.595),
        rgba(67, 37, 52, 0.503)
      ),
      url(images/Background.png);
    background-position: center;
    background-size: cover;
    position: relative;
  }

  .sideBar {
    width: 110px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: rgba(29, 191, 114, 0.5);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    //justify-content: space-between;
    flex-direction: column;
    transition: width 0.5s;

    &__image--mod {
      width: 100px;
      border-radius: 10%;
      margin: auto;
      overflow: hidden;
    }

    &__list,
    &__special {
      list-style: none;
      padding: 0 15px;

      li {
        margin: 30px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        i {
          width: 30px;
          margin-right: 10px;
          color: $almost_black_color;

          a {
            font-size: 14px;
            color: white;
            text-decoration: none;
            white-space: nowrap;
            display: none;
            margin-left: 10px;
          }
        }
      }
    }

    &:hover {
      width: 160px;

      ul li {
        justify-content: flex-start;

        i {
          margin-right: 70px;

          a {
            display: inline;
          }
        }
      }
    }
  }

  .wrapper {
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__header {
      display: flex;
      padding: 10px;
      justify-self: flex-start;
      justify-content: space-around;
      flex-direction: row;

      &--mod1 {
        button {
          padding: 10px 20px;
          background-color: #dbdbdb;
          color: $almost_black_color;
          cursor: pointer;
          width: 100px;
          border-radius: 10px;
          border: 0.5px solid #eeeeee;
          margin: 2px;

          &:hover {
            background-color: rgba(29, 191, 114, 0.7);
            color: #f44336;
            border-color: rgba(29, 191, 114, 0.7);
          }

          a {
            text-decoration: none;
            color: black;

            p {
              font-size: x-small; //nu era p deloc
            }

            &:hover {
              background-color: rgba(29, 191, 114, 0.7);
              color: #f44336;
              border-color: rgba(29, 191, 114, 0.7);
            }
          }
        }

        input[type="text"] {
          padding: 10px 20px;
          width: 380px;
          border: 1px solid $dark_green_color;
          border-radius: 15px;
          background-color: #eeeeee;
          font-size: 15px;
          color: $almost_black_color;
          transition: border-color 0.3s ease;
          margin: 2px;

          &:hover {
            border-color: $dark_blue_color;
          }

          &:focus {
            border-color: $dark_green_color;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            outline: none; /* sterge outline ul pus by default */
          }
        }
      }

      &--mod2 {
        .button {
          padding: 10px 10px;
          background-color: #eeeeee;
          color: $almost_black_color;
          cursor: pointer;
          width: 130px;
          border-radius: 10px;
          border: 0.5px solid #ddd;
          margin: 2px;

          &:hover {
            background-color: rgba(29, 191, 114, 0.7);
            color: #f44336;
            border-color: rgba(29, 191, 114, 0.7);
          }

          a {
            text-decoration: none;
            color: black;

            p {
              font-size: xx-small;
            }

            &:hover {
              background-color: rgba(29, 191, 114, 0.7);
              color: #f44336;
              border-color: rgba(29, 191, 114, 0.7);
            }
          }
        }
      }
    }

    &__containers {
      padding: 20px;
      margin-left: 50px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: #1b635d;
      border-radius: 10px;
    }

    &__footer {
      width: 100%;
      text-align: center;
      padding: 10px 0px;
      align-self: center;
      justify-self: flex-end;

      ul li {
        list-style: none; /*fara bullets*/
        display: inline-block; /*afiseaza textul orizontal*/
        padding: 8px 12px; /*spatiu*/
        position: relative;
        margin-right: 20px;

        a {
          /*culorile link-urilor*/
          color: #1b635d;
          font-weight: 500;
          text-decoration: none; /*sa nu apara cu linia aia de la linkuri*/
          font-size: 15px;
          font-family: "Poppins", sans-serif; /*vezi google fonts*/
        }

        &::after {
          /*liniuta de sub linkuri*/
          content: "";
          width: 0%; /*face ca liniuta sa dispara, cu 100% apare*/
          height: 2px;
          background: #f44336;
          display: block;
          margin: auto;
          transition: 0.5s;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 1029px) and (max-width: 1280px) {
  * {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }

  .background {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(
        rgba(67, 37, 52, 0.503),
        rgba(4, 21, 31, 0.595),
        rgba(67, 37, 52, 0.503)
      ),
      url(images/Background.png);
    background-position: center;
    background-size: cover;
    position: relative;
  }

  .sideBar {
    width: 110px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: rgba(29, 191, 114, 0.5);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    //justify-content: space-between;
    flex-direction: column;
    transition: width 0.5s;

    &__image--mod {
      width: 100px;
      border-radius: 10%;
      margin: auto;
      overflow: hidden;
    }

    &__list,
    &__special {
      list-style: none;
      padding: 0 15px;

      li {
        margin: 30px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        i {
          width: 30px;
          margin-right: 10px;
          color: $almost_black_color;

          a {
            font-size: 14px;
            color: white;
            text-decoration: none;
            white-space: nowrap;
            display: none;
            margin-left: 10px;
          }
        }
      }
    }

    &:hover {
      width: 160px;

      ul li {
        justify-content: flex-start;

        i {
          margin-right: 70px;

          a {
            display: inline;
          }
        }
      }
    }
  }

  .wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__header {
      display: flex;
      padding: 10px;
      justify-self: flex-start;
      justify-content: space-around;
      flex-direction: row;

      &--mod1 {
        button {
          padding: 10px 20px;
          background-color: #dbdbdb;
          color: $almost_black_color;
          cursor: pointer;
          width: 100px;
          border-radius: 10px;
          border: 0.5px solid #eeeeee;
          margin: 2px;

          &:hover {
            background-color: rgba(29, 191, 114, 0.7);
            color: #f44336;
            border-color: rgba(29, 191, 114, 0.7);
          }

          a {
            text-decoration: none;
            color: black;

            &:hover {
              background-color: rgba(29, 191, 114, 0.7);
              color: #f44336;
              border-color: rgba(29, 191, 114, 0.7);
            }
          }
        }

        input[type="text"] {
          padding: 10px 20px;
          width: 300px;
          border: 1px solid $dark_green_color;
          border-radius: 15px;
          background-color: #eeeeee;
          font-size: 15px;
          color: $almost_black_color;
          transition: border-color 0.3s ease;
          margin: 2px;

          &:hover {
            border-color: $dark_blue_color;
          }

          &:focus {
            border-color: $dark_green_color;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            outline: none; /* sterge outline ul pus by default */
          }
        }
      }

      &--mod2 {
        .button {
          padding: 10px;
          background-color: #eeeeee;
          color: $almost_black_color;
          cursor: pointer;
          width: 95px;
          border-radius: 10px;
          border: 0.5px solid #ddd;
          margin: 2px;

          &:hover {
            background-color: rgba(29, 191, 114, 0.7);
            color: #f44336;
            border-color: rgba(29, 191, 114, 0.7);
          }

          a {
            text-decoration: none;
            color: black;

            p {
              font-size: xx-small;
            }

            &:hover {
              background-color: rgba(29, 191, 114, 0.7);
              color: #f44336;
              border-color: rgba(29, 191, 114, 0.7);
            }
          }
        }
      }
    }

    &__containers {
      padding: 20px;
      margin-left: 50px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: #1b635d;
      border-radius: 10px;
    }

    &__footer {
      width: 100%;
      text-align: center;
      padding: 10px 0px;
      align-self: center;
      justify-self: flex-end;

      ul li {
        list-style: none; /*fara bullets*/
        display: inline-block; /*afiseaza textul orizontal*/
        padding: 8px 12px; /*spatiu*/
        position: relative;
        margin-right: 20px;

        a {
          /*culorile link-urilor*/
          color: #1b635d;
          font-weight: 500;
          text-decoration: none; /*sa nu apara cu linia aia de la linkuri*/
          font-size: 15px;
          font-family: "Poppins", sans-serif; /*vezi google fonts*/
        }

        &::after {
          /*liniuta de sub linkuri*/
          content: "";
          width: 0%; /*face ca liniuta sa dispara, cu 100% apare*/
          height: 2px;
          background: #f44336;
          display: block;
          margin: auto;
          transition: 0.5s;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1028px) and (orientation: landscape) {
  * {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }

  .background {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(
        rgba(67, 37, 52, 0.503),
        rgba(4, 21, 31, 0.595),
        rgba(67, 37, 52, 0.503)
      ),
      url(images/Background.png);
    background-position: center;
    background-size: cover;
    position: relative;
  }

  .sideBar {
    width: 110px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: rgba(29, 191, 114, 0.5);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    //justify-content: space-between;
    flex-direction: column;
    transition: width 0.5s;

    &__image--mod {
      width: 100px;
      border-radius: 10%;
      margin: auto;
      overflow: hidden;
    }

    &__list,
    &__special {
      list-style: none;
      padding: 0 15px;

      li {
        margin: 30px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        i {
          width: 30px;
          margin-right: 10px;
          color: $almost_black_color;

          a {
            font-size: 14px;
            color: white;
            text-decoration: none;
            white-space: nowrap;
            display: none;
            margin-left: 10px;
          }
        }
      }
    }

    &:hover {
      width: 160px;

      ul li {
        justify-content: flex-start;

        i {
          margin-right: 70px;

          a {
            display: inline;
          }
        }
      }
    }
  }

  .wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__header {
      display: flex;
      padding: 10px;
      justify-self: flex-start;
      justify-content: space-around;
      flex-direction: row;

      &--mod1 {
        button {
          padding: 10px 20px;
          background-color: #dbdbdb;
          color: $almost_black_color;
          cursor: pointer;
          width: 50px;
          border-radius: 10px;
          border: 0.5px solid #eeeeee;
          margin: 2px;

          &:hover {
            background-color: rgba(29, 191, 114, 0.7);
            color: #f44336;
            border-color: rgba(29, 191, 114, 0.7);
          }

          a {
            text-decoration: none;
            color: black;

            &:hover {
              background-color: rgba(29, 191, 114, 0.7);
              color: #f44336;
              border-color: rgba(29, 191, 114, 0.7);
            }
          }
        }

        input[type="text"] {
          padding: 10px 20px;
          width: 250px;
          border: 1px solid $dark_green_color;
          border-radius: 15px;
          background-color: #eeeeee;
          font-size: 15px;
          color: $almost_black_color;
          transition: border-color 0.3s ease;
          margin: 2px;

          &:hover {
            border-color: $dark_blue_color;
          }

          &:focus {
            border-color: $dark_green_color;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            outline: none; /* sterge outline ul pus by default */
          }
        }
      }

      &--mod2 {
        .button {
          padding: 10px;
          background-color: #eeeeee;
          color: $almost_black_color;
          cursor: pointer;
          width: 80px;
          border-radius: 10px;
          border: 0.5px solid #ddd;
          margin: 2px;

          &:hover {
            background-color: rgba(29, 191, 114, 0.7);
            color: #f44336;
            border-color: rgba(29, 191, 114, 0.7);
          }

          a {
            text-decoration: none;
            color: black;

            p {
              font-size: x-small;
            }

            &:hover {
              background-color: rgba(29, 191, 114, 0.7);
              color: #f44336;
              border-color: rgba(29, 191, 114, 0.7);
            }
          }
        }
      }
    }

    &__containers {
      padding: 20px;
      margin-left: 50px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: #1b635d;
      border-radius: 10px;
    }

    &__footer {
      width: 100%;
      text-align: center;
      padding: 10px 0px;
      align-self: center;
      justify-self: flex-end;

      ul li {
        list-style: none; /*fara bullets*/
        display: inline-block; /*afiseaza textul orizontal*/
        padding: 8px 12px; /*spatiu*/
        position: relative;
        margin-right: 20px;

        a {
          /*culorile link-urilor*/
          color: #1b635d;
          font-weight: 500;
          text-decoration: none; /*sa nu apara cu linia aia de la linkuri*/
          font-size: 15px;
          font-family: "Poppins", sans-serif; /*vezi google fonts*/
        }

        &::after {
          /*liniuta de sub linkuri*/
          content: "";
          width: 0%; /*face ca liniuta sa dispara, cu 100% apare*/
          height: 2px;
          background: #f44336;
          display: block;
          margin: auto;
          transition: 0.5s;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1028x) {
  * {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }

  .background {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(
        rgba(67, 37, 52, 0.503),
        rgba(4, 21, 31, 0.595),
        rgba(67, 37, 52, 0.503)
      ),
      url(images/Background.png);
    background-position: center;
    background-size: cover;
    position: relative;
  }

  .sideBar {
    width: 110px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: rgba(29, 191, 114, 0.5);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    //justify-content: space-between;
    flex-direction: column;
    transition: width 0.5s;

    &__image--mod {
      width: 100px;
      border-radius: 10%;
      margin: auto;
      overflow: hidden;
    }

    &__list,
    &__special {
      list-style: none;
      padding: 0 15px;

      li {
        margin: 30px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        i {
          width: 30px;
          margin-right: 10px;
          color: $almost_black_color;

          a {
            font-size: 14px;
            color: white;
            text-decoration: none;
            white-space: nowrap;
            display: none;
            margin-left: 10px;
          }
        }
      }
    }

    &:hover {
      width: 160px;

      ul li {
        justify-content: flex-start;

        i {
          margin-right: 70px;

          a p {
            display: inline;
          }
        }
      }
    }
  }

  .wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__header {
      display: flex;
      padding: 10px;
      justify-self: flex-start;
      justify-content: space-around;
      flex-direction: row;

      &--mod1 {
        button {
          padding: 10px 20px;
          background-color: #dbdbdb;
          color: $almost_black_color;
          cursor: pointer;
          width: 50px;
          border-radius: 10px;
          border: 0.5px solid #eeeeee;
          margin: 2px;

          &:hover {
            background-color: rgba(29, 191, 114, 0.7);
            color: #f44336;
            border-color: rgba(29, 191, 114, 0.7);
          }

          a {
            text-decoration: none;
            color: black;

            &:hover {
              background-color: rgba(29, 191, 114, 0.7);
              color: #f44336;
              border-color: rgba(29, 191, 114, 0.7);
            }
          }
        }

        input[type="text"] {
          padding: 10px 20px;
          width: 250px;
          border: 1px solid $dark_green_color;
          border-radius: 15px;
          background-color: #eeeeee;
          font-size: 15px;
          color: $almost_black_color;
          transition: border-color 0.3s ease;
          margin: 2px;

          &:hover {
            border-color: $dark_blue_color;
          }

          &:focus {
            border-color: $dark_green_color;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            outline: none; /* sterge outline ul pus by default */
          }
        }
      }

      &--mod2 {
        width: 300px;
        .button {
          padding: 10px;
          background-color: #eeeeee;
          color: $almost_black_color;
          cursor: pointer;
          width: 80px;
          border-radius: 10px;
          border: 0.5px solid #ddd;
          margin: 2px;

          &:hover {
            background-color: rgba(29, 191, 114, 0.7);
            color: #f44336;
            border-color: rgba(29, 191, 114, 0.7);
          }

          a {
            text-decoration: none;
            color: black;

            p {
              font-size: x-small;
            }

            &:hover {
              background-color: rgba(29, 191, 114, 0.7);
              color: #f44336;
              border-color: rgba(29, 191, 114, 0.7);
            }
          }
        }
      }
    }

    &__containers {
      padding: 20px;
      margin-left: 50px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: #1b635d;
      border-radius: 10px;
    }

    &__footer {
      width: 100%;
      text-align: center;
      padding: 10px 0px;
      align-self: center;
      justify-self: flex-end;

      ul li {
        list-style: none; /*fara bullets*/
        display: inline-block; /*afiseaza textul orizontal*/
        padding: 8px 12px; /*spatiu*/
        position: relative;
        margin-right: 20px;

        a {
          /*culorile link-urilor*/
          color: #1b635d;
          font-weight: 500;
          text-decoration: none; /*sa nu apara cu linia aia de la linkuri*/
          font-size: 15px;
          font-family: "Poppins", sans-serif; /*vezi google fonts*/
        }

        &::after {
          /*liniuta de sub linkuri*/
          content: "";
          width: 0%; /*face ca liniuta sa dispara, cu 100% apare*/
          height: 2px;
          background: #f44336;
          display: block;
          margin: auto;
          transition: 0.5s;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}
