* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.background {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(backgroung-img.avif);
  background-position: center;
  background-size: cover;
  position: relative;
}

.header img {
  width: 250px;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}

.header h1 {
  width: 90%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
  font-size: 40px;
  color: #e5e2f1;
}

.make-an-account {
  width: 50%;
  margin: auto;
  padding: 60px 0;
}

.account-form {
  border: 1px solid #1d153a;
  border-radius: 10px;
  margin: 50px 0;
  padding: 10px 20px;
  background-color: #34373ed1;
}

.account-form input {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #f0f0f0;
  border-radius: 10px;
}

.btn {
  display: inline;
  text-decoration: none;
  color: #d8cdcd;
  border: 1px solid #ccc2c2;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  font-size: large;
}

.btn:hover {
  border: 1px solid #1d153a;
  background: #1d153a;
  transition: 1s;
}

.account-form button {
  margin: 10px 0;
  width: 250px;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}

.make-an-account h4 {
  color: #d9d6e2;
  font-size: 20px;
  margin-left: 5%;
}

.sign-in {
  color: #e52a2a;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.footer-links ul li {
  list-style: none; /*fara bullets*/
  display: inline-block; /*afiseaza textul orizontal*/
  padding: 8px 12px; /*spatiu*/
  position: relative;
  margin-right: 20px;
}

.footer-links ul li a {
  /*culorile link-urilor*/
  color: #fff;
  text-decoration: none; /*sa nu apara cu linia aia de la linkuri*/
  font-size: 15px;
  font-family: "Poppins", sans-serif; /*vezi google fonts*/
}

.footer-links ul li::after {
  /*liniuta de sub linkuri*/
  content: "";
  width: 0%; /*face ca liniuta sa dispara, cu 100% apare*/
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.footer-links ul li:hover::after /*face sa apara linia doar cand e cursorul pe ea*/ {
  width: 100%;
}
