@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/carte.webp);
  background-position: center;
  background-size: cover;
  position: relative;
}

.header .header__logo {
  width: 200px;
  height: 200px;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}
.header .header__title {
  width: 90%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
  font-size: 40px;
  color: #efd6ac;
}

.main {
  width: 50%;
  margin: auto;
  padding: 50px 0;
}

.account-form {
  border: 1px solid #1d153a;
  border-radius: 10px;
  margin: 50px 0;
  padding: 10px 20px;
  background-color: #183a37;
}
.account-form button {
  margin: 10px 0;
  width: 250px;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}
.account-form__input {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #efd6ac;
  border-radius: 10px;
}
.account-form__submit-btn {
  display: inline;
  text-decoration: none;
  color: #efd6ac;
  border: 1px solid #efd6ac;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  font-size: large;
}
.account-form__submit-btn a {
  text-decoration: none;
  color: #efd6ac;
}
.account-form__submit-btn:hover {
  border: 2px solid #1d153a;
  background: rgba(29, 21, 58, 0.3843137255);
  transition: 0.5s;
}

.account-message {
  color: #efd6ac;
  font-size: 20px;
  margin-left: 5%;
}
.account-message__link {
  color: #432534;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
.footer__links .footer__list .footer__item {
  list-style: none; /*fara bullets*/
  display: inline-block; /*afiseaza textul orizontal*/
  padding: 8px 12px; /*spatiu*/
  position: relative;
  margin-right: 20px;
}
.footer__links .footer__list .footer__item a {
  color: #efd6ac;
  font-weight: 500;
  text-decoration: none; /*sa nu apara cu linia aia de la linkuri*/
  font-size: 15px;
  font-family: "Poppins", sans-serif; /*vezi google fonts*/
}
.footer__links .footer__list .footer__item::after {
  /*liniuta de sub linkuri*/
  content: "";
  width: 0%; /*face ca liniuta sa dispara, cu 100% apare*/
  height: 2px;
  background: #c23212;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.footer__links .footer__list .footer__item:hover::after {
  width: 100%;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  align-items: center;
}
.button-container__row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.button-container__button {
  display: inline-block;
  padding: 10px 20px;
  width: 165px;
  text-align: center;
  border: 2px solid #183a37;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(163, 159, 189, 0.7058823529);
  color: #183a37;
  font-weight: 700;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-right: 20px;
}
.button-container__button:hover {
  background-color: #efd6ac;
}
.button-container__button input[type=checkbox]:checked + label {
  background-color: #efd6ac;
  color: #efd6ac;
}

.main .continue-link {
  display: block;
  text-align: center;
}

.continue-link {
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.continue-link a {
  text-decoration: none;
  color: #efd6ac;
  border: none;
  border-radius: 25px;
  padding: 12px 34px;
  font-size: large;
  background: #432534;
  cursor: pointer;
  transition: background-color 0.5s;
}
.continue-link a:hover {
  background-color: rgba(67, 37, 52, 0.7098039216);
}

.second-body {
  min-height: 100vh;
  width: 100%;
  background: rgb(255, 255, 255);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow-x: hidden;
}

.second-main {
  width: 70%;
  height: 90vh;
  padding: 10px;
  margin-left: 230px;
  display: flex;
  flex-direction: column;
}
.second-main .header-profile {
  margin-top: 20px;
  background-color: rgba(15, 215, 128, 0.4274509804); /* Background color of the rectangle */
  padding: 10px; /* Padding inside the rectangle */
  border: 0px solid #7e7e7e; /* Border around the rectangle */
  border-radius: 5px;
  width: 70%;
  max-width: 800px;
  display: flex;
  align-items: center;
}
.second-main .header-profile__title {
  padding-inline-start: 10%;
  text-align: left;
  color: rgba(254, 254, 254, 0.9882352941);
  margin: 0;
  flex-grow: 1;
}
.second-main .user-container1 {
  background-color: rgba(15, 215, 128, 0.4274509804); /* Background color of the rectangle */
  padding: 10px; /* Padding inside the rectangle */
  border: 0px solid #7e7e7e; /* Border around the rectangle */
  border-radius: 5px;
  width: 70%;
  margin-top: 20px;
  height: 130px;
  display: flex;
  flex-direction: row;
}
.second-main .user-container1__profile-pic {
  background-color: rgba(255, 255, 255, 0.337254902); /* Background color of the circle */
  width: 100px; /* Set the width of the circle */
  height: 100px; /* Set the height of the circle */
  border: 2px solid rgba(45, 45, 45, 0.6039215686); /* Border around the circle */
  border-radius: 50%; /* Make it a perfect circle */
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-main .user-container1__profile-pic i {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.768627451);
}
.second-main .user-container1__username {
  color: #ffffff;
  margin-left: 7%; /* Position from the left of the container */
  margin-top: 10px;
}
.second-main .user-container1--edit-button {
  position: absolute;
  margin-left: 40%;
  margin-right: 30%;
}
.second-main .user-container1--edit-button__mod {
  background-color: rgba(132, 54, 216, 0.3764705882);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.second-main .user-container1--edit-button__mod:hover {
  border: 1px solid rgba(69, 64, 74, 0.231372549);
  background: rgb(155, 98, 212);
  transition: 0.5s;
}
.second-main .user-container2 {
  background-color: rgba(15, 215, 128, 0.4274509804); /* Background color of the rectangle */
  padding: 10px; /* Padding inside the rectangle */
  border: 0px solid #7e7e7e; /* Border around the rectangle */
  border-radius: 5px;
  width: 70%;
  margin-top: 20px;
  left: 18%; /* Distance from the right side of the page */
}
.second-main .user-container2__info {
  color: #ffffff;
  margin-left: 20px; /* Position from the left of the container */
  margin-top: 15px;
}
.second-main .user-container2--edit-button {
  position: absolute;
  margin-left: 40%;
  margin-right: 30%;
  transform: translateY(-60px);
  height: 10px;
}
.second-main .user-container2--edit-button__mod {
  background-color: rgba(132, 54, 216, 0.3764705882);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.second-main .user-container2--edit-button__mod:hover {
  border: 1px solid rgba(69, 64, 74, 0.231372549);
  background: rgb(155, 98, 212);
  transition: 0.5s;
}
.second-main .user-container2__line {
  width: calc(100% - 20px); /* Width of the line */
  height: 4px; /* Thickness of the line */
  background-color: #ffffff; /* Color of the line */
  position: relative;
  bottom: -15px; /* Position the line below the text */
  left: 10px;
}
.second-main .user-container2--user-data {
  margin-top: 20px;
}
.second-main .user-container2--user-data h4 {
  margin-left: 20px;
  color: rgb(46, 46, 46);
}
.second-main .user-container2--user-data p {
  margin-left: 25px;
  margin-bottom: 10px;
}

.sideBar {
  width: 110px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 15px;
  background: rgba(29, 191, 114, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: width 0.5s;
}
.sideBar__image--mod {
  width: 100px;
  border-radius: 10%;
  margin: auto;
  overflow: hidden;
}
.sideBar__list, .sideBar__special {
  list-style: none;
  padding: 0 15px;
}
.sideBar__list li, .sideBar__special li {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.sideBar__list li i, .sideBar__special li i {
  width: 30px;
  margin-right: 10px;
  color: #04151f;
}
.sideBar__list li i a, .sideBar__special li i a {
  font-size: 14px;
  color: white;
  text-decoration: none;
}
.sideBar__list li i a p, .sideBar__special li i a p {
  white-space: nowrap;
  display: none;
  margin-left: 10px;
}
.sideBar:hover {
  width: 150px;
}
.sideBar:hover ul li {
  justify-content: flex-start;
}
.sideBar:hover ul li i {
  margin-right: 70px;
}
.sideBar:hover ul li i a p {
  display: inline;
}

.wrapper {
  margin: 20px 200px;
  margin-bottom: 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper__header {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  flex-direction: row;
}
.wrapper__header--mod1 {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.wrapper__header--mod1 button {
  padding: 10px 20px;
  background-color: #dbdbdb;
  color: #04151f;
  cursor: pointer;
  width: 150px;
  border-radius: 10px;
  border: 0.5px solid #eeeeee;
  margin: 2px;
}
.wrapper__header--mod1 button:hover {
  background-color: rgba(29, 191, 114, 0.7);
  color: #f44336;
  border-color: rgba(29, 191, 114, 0.7);
}
.wrapper__header--mod1 button a {
  text-decoration: none;
  color: black;
}
.wrapper__header--mod1 button a:hover {
  background-color: rgba(29, 191, 114, 0.7);
  color: #f44336;
  border-color: rgba(29, 191, 114, 0.7);
}
.wrapper__header--mod1 input[type=text] {
  padding: 10px 20px;
  width: 80%;
  border: 1px solid rgba(0, 0, 0, 0.725);
  border-radius: 15px;
  background-color: #eeeeee;
  font-size: 15px;
  color: #04151f;
  transition: border-color 0.3s ease;
  margin: 2px;
}
.wrapper__header--mod1 input[type=text]:hover {
  border-color: #1d153a;
}
.wrapper__header--mod1 input[type=text]:focus {
  border-color: #183a37;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  outline: none; /* sterge outline ul pus by default */
}
.wrapper__header--mod2 {
  margin-left: 1%;
}
.wrapper__header--mod2 button {
  padding: 10px 10px;
  background-color: #eeeeee;
  color: #04151f;
  cursor: pointer;
  width: 130px;
  border-radius: 10px;
  border: 0.5px solid #ddd;
  margin: 2px;
}
.wrapper__header--mod2 button:hover {
  background-color: rgba(29, 191, 114, 0.7);
  color: #f44336;
  border-color: rgba(29, 191, 114, 0.7);
}
.wrapper__header--mod2 button a {
  text-decoration: none;
  color: black;
}
.wrapper__header--mod2 button a:hover {
  background-color: rgba(29, 191, 114, 0.7);
  color: #f44336;
  border-color: rgba(29, 191, 114, 0.7);
}

.second-footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
.second-footer__links .footer__list .footer__item {
  list-style: none; /*fara bullets*/
  display: inline-block; /*afiseaza textul orizontal*/
  padding: 8px 12px; /*spatiu*/
  position: relative;
  margin-right: 20px;
}
.second-footer__links .footer__list .footer__item a {
  color: #1b635d;
  font-weight: 500;
  text-decoration: none; /*sa nu apara cu linia aia de la linkuri*/
  font-size: 15px;
  font-family: "Poppins", sans-serif; /*vezi google fonts*/
}
.second-footer__links .footer__list .footer__item::after {
  /*liniuta de sub linkuri*/
  content: "";
  width: 0%; /*face ca liniuta sa dispara, cu 100% apare*/
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.second-footer__links .footer__list .footer__item:hover::after {
  width: 100%;
}

.myBooks-header {
  width: 0;
  height: 0;
}

.myBooks-main {
  width: 70%;
  margin-left: 200px;
  margin-right: 20px;
  height: 100vh;
}

.myBooks-table {
  width: 100%;
  border-collapse: collapse;
  /* Stilurile pentru textul "See More" */
}
.myBooks-table__row {
  text-align: center;
}
.myBooks-table__cell {
  padding: 10px;
}
.myBooks-table__antet {
  color: #c23212;
  border-bottom: 3px solid #c23212; /* Add bottom border to each row */
}
.myBooks-table__cover {
  position: relative;
  display: inline-block;
}
.myBooks-table__cover--img {
  width: 170px;
}
.myBooks-table .overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  right: -10px;
  bottom: -10px;
  width: 90%;
  height: 90%;
  background-color: rgba(218, 109, 54, 0.5); /* Culoarea stratului colorat */
  opacity: 0; /* Inițial, stratul este invizibil */
  transition: opacity 0.3s ease; /* Efect de tranziție la schimbarea opacității */
}
.myBooks-table .overlay h4 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 30px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.myBooks-table .overlay:hover {
  opacity: 1; /* La trecerea cursorului peste imagine, stratul devine vizibil */
}
.myBooks-table .overlay:hover h4 {
  bottom: 50%;
  opacity: 1;
}
.myBooks-table__title, .myBooks-table__author {
  font-size: 17px;
}
.myBooks-table__review {
  color: #168750;
  font-size: 20px;
}
.myBooks-table__write-review .review-section {
  display: flex;
  justify-content: center;
  transform: rotateY(180deg);
}
.myBooks-table__write-review .review-section input {
  display: none;
}
.myBooks-table__write-review .review-section label {
  display: block;
  margin-right: 5px;
  cursor: pointer;
  background: #1b6a7c;
  position: relative;
}
.myBooks-table__write-review .review-section label:before {
  content: "\f005";
  font-family: fontAwesome;
  position: relative;
  display: block;
  font-size: 20px;
  color: rgba(151, 223, 186, 0.5764705882);
  background-color: rgb(255, 255, 255);
  border: none;
}
.myBooks-table__write-review .review-section label:after {
  content: "\f005";
  font-family: fontAwesome;
  position: absolute;
  display: block;
  font-size: 20px;
  color: #168750;
  top: 0;
  opacity: 0;
  transition: 0.5s;
  background-color: #ffffff;
}
.myBooks-table__write-review .review-section label:hover:after, .myBooks-table__write-review .review-section label:hover ~ label:after {
  opacity: 1;
}
.myBooks-table__write-review .review-section input:checked ~ label:after {
  opacity: 1;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1b635d;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: #188256;
}
.button--add-books {
  margin-top: 50px;
  margin-left: 4%;
}

@media screen and (max-width: 770px) {
  .second-body {
    margin-left: 70px;
    overflow-x: hidden;
    height: 120vh;
    padding-right: 50px;
  }
  .second-main {
    margin-left: 100px;
    padding-right: 50px;
  }
  .second-main .header-profile {
    margin-top: 0;
  }
  .second-main .user-container1--edit-button {
    margin-top: 80px;
    right: 35px;
    left: 80px;
    margin-left: 40%;
    margin-right: 20%;
  }
  .second-main .user-container1--edit-button__mod {
    font-size: 12px;
  }
  .second-main .user-container2--edit-button {
    margin-top: 210px;
    right: 35px;
    left: 80px;
    margin-left: 40%;
    margin-right: 20%;
  }
  .second-main .user-container2--edit-button__mod {
    font-size: 12px;
  }
  .wrapper {
    margin-left: 90px;
  }
  .wrapper input[type=text] {
    width: 200px;
    margin-right: 25px;
  }
  .wrapper__header {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    flex-direction: column;
  }
  .wrapper__header--mod1 {
    height: 100px;
  }
  .wrapper__header--mod2 {
    display: flex;
    width: 500px;
    height: 50px;
  }
  .wrapper__header--mod2 button {
    width: 100px;
    font-size: 10px;
  }
  .sideBar {
    width: 90px;
    padding: 20px;
  }
  .sideBar:hover {
    width: 110px;
  }
  .myBooks-main {
    width: 90%;
    margin-left: 90px;
    height: 80vh;
  }
  .myBooks-table {
    width: 70%;
  }
  .myBooks-table__row {
    text-align: center;
  }
  .myBooks-table__cell {
    padding: 10px;
  }
  .myBooks-table__antet {
    color: #c23212;
    border-bottom: 3px solid #c23212;
    font-size: 55%;
  }
  .myBooks-table__cover--img {
    width: 80px;
  }
  .myBooks-table .overlay {
    width: 80%;
    height: 80%;
  }
  .myBooks-table .overlay h4 {
    font-size: 100%;
  }
  .myBooks-table__title, .myBooks-table__author {
    font-size: 60%;
  }
  .myBooks-table__review {
    font-size: 50%;
  }
  .myBooks-table__write-review .review-section label {
    margin-right: 2%;
  }
  .myBooks-table__write-review .review-section label:before,
  .myBooks-table__write-review .review-section label:after {
    font-size: 50%;
  }
  .button {
    padding: 9px 18px;
  }
}
.community-container {
  width: 100%;
  height: 80vh;
}
.community-container__title {
  text-align: center;
  padding-top: 10%;
  margin-bottom: 60px;
  font-weight: 600;
  position: relative;
}
.community-container__title::after {
  content: "";
  background: #c23212;
  width: 210px;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.community-container__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}
.community-container__group {
  text-align: center;
  padding: 25px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  background: transparent;
  transition: 0.5s;
}
.community-container__group i {
  font-size: 40px;
  margin-bottom: 10px;
  color: #2a956a;
}
.community-container__group h2 {
  font-weight: 600;
  margin-bottom: 8px;
}
.community-container__group:hover {
  background: rgba(24, 130, 86, 0.6705882353);
  color: #ffffff;
  transform: scale(1.05);
}
.community-container__group:hover i {
  color: #df5738;
}/*# sourceMappingURL=style.css.map */