$light_pink_color: #efd6ac;
$dark_blue_color: #1d153a;
$dark_green_color: #183a37;
$dark_blue_transition_color: #1d153a62;
$dark_purple_color: #432534;
$light_grey_color: #a39fbdb4;

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/carte.webp);
  background-position: center;
  background-size: cover;
  position: relative;
}

.header {
  .header__logo {
    width: 200px;
    height: 200px;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
  }

  .header__title {
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    font-size: 40px;
    color: $light_pink_color;
  }
}

.main {
  width: 50%;
  margin: auto;
  padding: 50px 0;
}

.account-form {
  border: 1px solid $dark_blue_color;
  border-radius: 10px;
  margin: 50px 0;
  padding: 10px 20px;
  background-color: $dark_green_color;

  button {
    margin: 10px 0;
    width: 250px;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
  }

  &__input {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #efd6ac;
    border-radius: 10px;
  }

  &__submit-btn {
    display: inline;
    text-decoration: none;
    color: $light_pink_color;
    border: 1px solid $light_pink_color;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    font-size: large;

    a {
      text-decoration: none;
      color: $light_pink_color;
    }

    &:hover {
      border: 2px solid $dark_blue_color;
      background: $dark_blue_transition_color;
      transition: 0.5s;
    }
  }
}

.account-message {
  color: $light_pink_color;
  font-size: 20px;
  margin-left: 5%;

  &__link {
    color: $dark_purple_color;
  }
}

.footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;

  &__links .footer__list .footer__item {
    list-style: none; /*fara bullets*/
    display: inline-block; /*afiseaza textul orizontal*/
    padding: 8px 12px; /*spatiu*/
    position: relative;
    margin-right: 20px;
  }

  &__links .footer__list .footer__item a {
    color: $light_pink_color;
    font-weight: 500;
    text-decoration: none; /*sa nu apara cu linia aia de la linkuri*/
    font-size: 15px;
    font-family: "Poppins", sans-serif; /*vezi google fonts*/
  }

  &__links .footer__list .footer__item::after {
    /*liniuta de sub linkuri*/
    content: "";
    width: 0%; /*face ca liniuta sa dispara, cu 100% apare*/
    height: 2px;
    background: #c23212;
    display: block;
    margin: auto;
    transition: 0.5s;
  }

  &__links .footer__list .footer__item:hover::after {
    width: 100%;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  align-items: center;

  &__row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  &__button {
    display: inline-block;
    padding: 10px 20px;
    width: 165px;
    text-align: center;
    border: 2px solid $dark_green_color;
    border-radius: 5px;
    cursor: pointer;
    background-color: $light_grey_color;
    color: $dark_green_color;
    font-weight: 700;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-right: 20px;
  }

  &__button:hover {
    background-color: $light_pink_color;
  }

  &__button input[type="checkbox"]:checked + label {
    background-color: $light_pink_color;
    color: $light_pink_color;
  }
}

.main .continue-link {
  display: block;
  text-align: center;
}

.continue-link {
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;

  a {
    text-decoration: none;
    color: #efd6ac;
    border: none;
    border-radius: 25px;
    padding: 12px 34px;
    font-size: large;
    background: #432534;
    cursor: pointer;
    transition: background-color 0.5s;
  }

  a:hover {
    background-color: #432534b5;
  }
}
